@import "tailwindcss";
.bady-background{
  background-color:black;
  background-size: cover;
  height: 100vh;

}
.custom-bg{
  background-color: rgba(2, 7, 2, 0.753);
}

.formControl {
    @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:drop-shadow-sm focus:border-lime-200
}

.btnSuccess{
    @apply bg-lime-500 py-1 px-4 text-white font-bold  hover:bg-lime-600 hover:drop-shadow-lg transition duration-150 hover:-translate-y-1 ease-in-out  hover:scale-110

}



.btnError{
  @apply bg-yellow-500 py-1 px-4 text-white font-bold  hover:bg-yellow-600 hover:drop-shadow-lg transition duration-150 hover:-translate-y-1 ease-in-out  hover:scale-110

}

.iconHover{
  @apply text-amber-300 font-bold  hover:text-amber-400 transition duration-150 hover:-translate-y-1 ease-in-out  hover:scale-110
}

.bounce{
  animation: bounce 4s ease-in-out infinite;
 
  height: 60px;
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-2.4rem);
  }

  100%{
    transform: translateY(0);
  }
}

.line{
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.line::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: lime;
  transition: all linear 0.3s;
}

.line:hover::after{
  width: 100%;
}
